/* -----------Main Font-----------  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
/* -----------Logo Font-----------  */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* -----------Logo Font Extra-----------  */
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------Common Style----------- */
body{
    font-family: 'Roboto', sans-serif;

}

.logo-font{
    font-family: 'Great Vibes', cursive;
}

.logo-font-extra{
    font-family: 'Trade Winds', cursive;
}


/* ------------Custom Colors---------- */

.main-color{
    color:#E4444C;
}

.bg-with-content{
    background-color: #0D0D0D;
}

.main-bg{
    background-color: #1B1B1B;
}
.card-bg{
    background-color: #292929;
}
.testimonial-bg{
    background-color: #181818;
}
.active{
    color: #E4444C;
    background: transparent;
}
